<nav class="navbar navbar-expand-lg navbar-light ">
    
   
      <ul class="navbar-nav">
        <li class="nav-item ">
          <a class="nav-link" routerLink="/signup">Sign Up</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link"  routerLink="/signin">Sign In</a>
        </li>
        <!--<li class="nav-item">
          <a class="nav-link"  routerLink="/logout">Logout</a>
        </li>-->
        
      </ul>
   
  </nav>

<div id="signin">
    <form action="index.html" class="login-form">
        <h1>Login</h1>
        <div class="txtb">
            <p>Email Id:</p>
            <input type="text">
            <span id="email" >
    
            </span>
        </div>
        
        <div class="txtb">
             <p>Password:</p>
            <input type="password">
            <span id="pass" >
    
            </span>
        </div>
        <button class="logbtn" routerLink="/geo-mapbox">Sign In</button>
        <div class="bottom-text">
            Don't have an account?<a routerLink="/signup"> Sign Up</a>
        </div>
    </form>
 </div>
 
