
#mapa-mapbox{
    width: 100%;
    height: 70%;
    
    background-color: beige;
}

.card-body{
 background-color: beige;
 width: 100%;
 height: 10%;
 

}
#message{
    background-color: beige;
 width: 100%;
 height: 10%;

}

.navbar{
    background-color: beige;
    height: 9%;
}